<div class="card">
    <div class="card-image">
        {{ card_collection.featured_image | image_url: width: 400 | image_tag }}
    </div>
    <div class="card-content">
        {{  card_collection.title }}
        {{  card_collection.description }}
    </div>
</div>