<div class="card">
    <div class="card-image">
        {{ card_collection.featured_image | image_url: width: 640 | image_tag }}
    </div>
    <div class="card-content">
        <p class="card-title">{{  card_collection.title }}</p>
        <p class="card-description">{{  card_collection.description }}</p>
    </div>
</div>