<section>
  <div class="grid restricted-width">
    {%- for block in section.blocks -%}
    {% render 'card-collection', card_collection: block.settings.collection %}
    {%-  endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Collection List",
  "settings": [],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:general.collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:general.collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
