<section>
  <div class="grid restricted-width">
  {% render 'card-collection' %}
  {% render 'card-collection' %}
  {% render 'card-collection' %}
  </div>
</section>

{% schema %}
{
  "name": "Collection List",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
